* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(0,191,165);
  background: linear-gradient(180deg, rgba(0,191,165,1) 20%, rgba(0,191,165,1) 20%, rgba(216,219,215,1) 20%);
  font-family: 'Lato', sans-serif;
}


.wrapper {
  width: 70%;
  height: 90%;
  margin: 0 auto;
  background-color: white;
}

.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper-left {
  width: 30%;
  height: 100%;
}

.wrapper-right {
  width: 70%;
  height: 100%;
}


.wrapper-left img {
  height: 40px;
}


#utente {
 height: 70px;
 width: 100%;
 border-right: 1px solid lightgrey;
 background-color: #EAEAEA;
}


#utente::after {
 content: "";
 display: table;
 clear: both;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.icone {
  margin-top: 20px;
}

.icone i {
  color: #B1B1B1;
}

.icone a {
  padding: 10px;
}

.avatar {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  background-color: white;
}


.avatar-grey {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  background-color: #EAEAEA;
}

.avatar img {
  border-radius: 50%;
}



#ricezione {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8EDAFC;
  height: 70px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
 }


 #ricezione p {
   font-size: 12px;
  }



#ricezione::after {
  content: "";
  display: table;
  clear: both;
 }


.campana i {
  font-size: 15px;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  color: #8EDAFC;
}

.notifiche {
  margin-left: 5px;
  margin-top: 10px;
}

.notifiche p {
  margin-left: 5px;
  margin-top: 10px;
  text-decoration: underline;
}


#cerca {
  display: inline-block;
  background-color: #FAFAFA;
  height: 40px;
  width: 100%;
  padding: 5px;
 }

 .barra input {
   width: 300px;
 }

 .barra {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-color: white;
   padding: 5px;
 }

 .barra i {
   color: lightgrey;
   margin-right: 5px;
 }

 #ricerca {
   border: 0px;
 }

 #contatti {
  background-color: #FAFAFA;
  overflow-y: scroll;
  height: calc(100% - 180px);
 }


 .contact-element {
   list-style: none;
   width: 100%;
   box-shadow: 0px 0px 2px #F2EAE7;
   background-color: white;
   height: 80px;
 }

 .contact-element.active,
 .contact-element:hover,
 .contact-element:active,
 .contact-element:focus {
   background-color: lightgrey;
   cursor: pointer;
 }


 .flex {
   display: flex;
   align-items: center;
   justify-content: space-around;
 }

 .testo  p:last-child {
   color: grey;
   font-size: 12px;
 }

 .ora p {
   font-size: 12px;
   color: grey;
 }

.border-bottom {
  border-bottom: 1px solid lightgrey;
}


.testo.float-left {
  margin-left: 10px;
  margin-top: 10px;
}

#chat-utente .testo p:last-child {
  color: grey;
  font-size: 12px;
}


#chat-utente {
 width: 100%;
 height: 70px;
 border-right: 1px solid lightgrey;
 background-color: #EAEAEA;
}


#chat-utente::after {
 content: "";
 display: table;
 clear: both;
}


#chat {
 height: calc(100% - 140px);
 background-image: url("../img/sfondo.png");
 background-repeat: no-repeat;
 background-size: cover;
 overflow-y: scroll;
}

#messaggio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #EAEAEA;
}

#messaggio i {
  font-size: 20px;
}

.inserimento {
  height: 50px;
  width: 500px;
}

.messaggio-utente {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.messaggio-verde {
  padding: 10px;
  margin: 50px;
  background-color: #D3F7B8;
  border-radius: 10px;
}

.messaggio-verde::after {
  content: "";
  display: table;
  clear: both;
}

.message-right {
  position: relative;
  font-size: 10px;
  margin-left: 5px;
  text-align: right;
}

.elimina-messaggio.active {
  display: block;
}

.elimina-messaggio {
  display: none;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 100px;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}



.elimina-messaggio p {
  padding: 5px;
}


.messaggio-verde:hover .message-options,
.messaggio-verde:active .message-options,
.messaggio-verde:focus .message-options {
  visibility: visible;
  cursor: pointer;
}

.messaggio-bianco:hover .message-options,
.messaggio-bianco:active .message-options,
.messaggio-bianco:focus .message-options {
  visibility: visible;
  cursor: pointer;
}

.message-options {
  visibility: hidden;
}




.messaggio-interlocutore {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.messaggio-bianco {
  padding: 10px;
  margin: 50px;
  background-color: white;
  border-radius: 10px;
}

.template {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.contenitore-messaggi {
  display: none;
}

.contenitore-messaggi.active {
  display: block;
}
