* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: #D5D8D3;
}

.background-top {
  width: 100%;
  height: 100px;
  background-color: #00BDA4;
}

.wrapper {
  display: flex;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 750px;
  margin: 0 auto;
  background-color: white;
}

.wrapper-left {
  width: calc(100% - 600px);
  height: 100%;
}

.wrapper-right {
  width: 600px;
  height: 100%;
}


.wrapper-left img {
  height: 40px;
}


#utente {
 width: calc(100% - 600px);
 height: 70px;
 width: 100%;
 border-right: 1px solid lightgrey;
}


#utente::after {
 content: "";
 display: table;
 clear: both;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.icone {
  margin-top: 20px;
}

.icone i {
  color: #B1B1B1;
}

.icone a {
  padding: 10px;
}

.avatar {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  background-color: white;
}


.avatar-grey {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  background-color: #EAEAEA;
}

.avatar img {
  border-radius: 50%;
}



#ricezione {
  background-color: #8EDAFC;
  height: 70px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
 }

#ricezione::after {
  content: "";
  display: table;
  clear: both;
 }


.campana i {
  font-size: 15px;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  color: #8EDAFC;
}

.notifiche {
  margin-left: 5px;
  margin-top: 10px;
}

.notifiche p {
  margin-left: 5px;
  margin-top: 10px;
  text-decoration: underline;
}


#cerca {
  display: inline-block;
  background-color: #FAFAFA;
  height: 40px;
  width: 100%;
  padding: 5px;
 }

 .barra input {
   width: 300px;
 }

 .barra {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-color: white;
   padding: 5px;
 }

 .barra i {
   color: lightgrey;
   margin-right: 5px;
 }

 .ricerca {
   border: 0px;
 }

 #contatti {
  background-color: #FAFAFA;
 }

 #contatti li {
   list-style: none;
   width: 97%;
   border-right: 1px solid lightgrey;
   background-color: white;
   height: 70px;
 }


 .flex {
   display: flex;
   align-items: center;
   justify-content: space-around;
 }

 .testo  p:last-child {
   color: lightgrey;
 }

 .ora p {
   font-size: 12px;
   color: lightgrey;
 }

.border-bottom {
  border-bottom: 1px solid lightgrey;
}


.testo.float-left {
  margin-left: 10px;
  margin-top: 10px;
}

#chat-utente .testo p:last-child {
  color: grey;
  font-size: 12px;
}


#chat-utente {
 width: 600px;
 height: 70px;
 border-right: 1px solid lightgrey;
 background-color: #EAEAEA;
}


#chat-utente::after {
 content: "";
 display: table;
 clear: both;
}


#chat {
 height: calc(100% - 140px);
 background-image: url("../img/sfondo.png");
 background-repeat: no-repeat;
 background-size: cover;
}

#messaggio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #EAEAEA;
}

#messaggio i {
  font-size: 20px;
}

.inserimento {
  height: 50px;
  width: 500px;
}

.messaggio-utente {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.messaggio-verde {
  padding: 10px;
  margin: 10px;
  background-color: #D3F7B8;
  border-radius: 10px;
}

.messaggio-interlocutore {
  display: flex;
  justify-content: flex-start;
}

.messaggio-bianco {
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.template {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
